body {
  font-family: "DM Sans", sans-serif;
}
.link {
  text-decoration: none;
  cursor: pointer;
}
.list {
  list-style-type: none;
}
.footer-content {
  background-color: #eaf7e5;
  padding: 80px 20px;
  display: block;
}
.broccoli {
  width: 89%;
  margin-bottom: 20px;
}
.footer-logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: #141414;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.footer-logo-icon {
  margin-right: 8px;
}
.footer-menu {
  max-width: 241px;
}
.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 241px;
}
.footer-list-item {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
  text-transform: capitalize;
}

.footer-list-item:hover,
.footer-list-item:focus {
  color: #a1c487;
}
.social-icon {
  fill: currentColor;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 168px;
}
.footer-social-item {
  border-color: #141414;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid;
}
.footer-social-link {
  color: #141414;
}
.footer-social-link:hover,
.footer-social-link:focus {
  color: #a1c487;
  fill: #a1c487;
}
.footer-address {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.28px;
  max-width: 135px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  margin-top: 20px;
  display: flex;
}
.phone-link {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  text-transform: uppercase;
}
.phone-link:hover,
.phone-link:focus {
  color: #a1c487;
}
address {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 143px;
  margin-right: auto;
  margin-left: auto;
}
.contact-list {
  display: block;
  width: 100%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
